.list
{
    font: 500 16px/1.25 Montserrat;
    display: flex;
    justify-content: space-between;
    position: absolute;
    max-width: 469px;
    width: 469px;
    left: 865px;
    top: 18px;
}

.button
{
    background:#05090c;
    border-radius: 4.6px;
    color: #fff;
    font: 600 16px Montserrat;
}

.button__top-button
{
    width: 247px;
    height: 55px;
}

.button__bottom-button
{
    width: 332px;
    height: 55px;
}

.title-main
{
    font: 600 100px/1.22 Montserrat;
}

.highlight
{
    color: #ee58b6;
}

.subtitle-main
{
    font: 400 26px/1.2 Roboto Condensed;
}

.middle-section
{
    background: #000;
    font: 400 22px/1.2 Roboto Condensed;
    color: #fff;
}

.title-points
{
    font: 500 48px Montserrat;
}

.subtitle-points
{
    font: 400 18px/1.35 Roboto Condensed;
}

.title-cards
{
    font: 500 48px/1.2 Montserrat;
    text-align: center;
}

.cards
{
    width: 358px;
    height: 190px;
    background: #000;
    border-radius: 7px;
    font: 400 18px/1.17 Roboto Condensed;
    color:#fff;
    margin-bottom: 20px;
}

.bottom-section
{
    background: #000;
}
